# Environment
.env
!.env.example

# Backend
backend/vendor/
backend/var/
backend/.env.local
backend/.env.*.local
backend/config/jwt/private.pem
backend/config/jwt/public.pem

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Docker
docker/php/Dockerfile.prod

# OS
.DS_Store
Thumbs.db
